@media screen and (max-width: 1100px) {
  /* ==Section one starts here== */
  .parent1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

   .nav-mobile{
        display: flex;
    }

    .antic{
      display: none;       
  }
  .parent1 p {
    color: #ffff;
  }

  .home{
    font-size: medium;
  }
  .content-text {
    background: url(./img/header.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
  }

  img {
    width: 100%;
    height: 100%;
  }
  .content-img {
   display: none;
  }

  .content2{
    padding-top: 40px;
  }

  .maincont {
    width: 100%;
  }

  .cont-hold {
    width: 90%;
  }

  .cont {
    font-size: 36px;
    line-height: 40px;
    height: 120px;
  }

  .icon-holder {
    align-items: center;
    margin: 0 auto;
    border: 2px solid #ffff;
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  .icon-holder i {
    color: #ffff;
  }

  .ichol {
    display: none;
  }


  /* ==Section one ends here== */

  /* ==Section two starts here== */
  .parent2 {
    display: flex;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .left-content {
    width: 100%;
  }

  .onecon {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    flex-wrap: wrap;
  }

  .onecon p{
    font-size: 18px;
  }

  .onecon h6{
    font-size: 24px;
  }

  .twocon {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .twocon p{
    font-size: 18px;
  }

  .twocon h6{
    font-size: 24px;
  }

  /* ==Section two ends here== */



  /* ==Section three starts here== */
  .footer{
    display: flex;
    flex-direction: column-reverse;
  }

  .holdet{
    display: none;
  }

  .cta-form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.cta-form button{
  margin-top: 17px;
}

.link-hold{
  margin-top: 65px;
  font-size: 21px;
  font-weight: bolder;
}
  /* ==Section three ends here== */
}

