* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* body{
  height: 700px;
} */
/* === Section one starts here== */

.parent1 {
  width: 100%;
  height: 710px;
  display: flex;
}

.maincont {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 55%;
  margin: 0 auto;
}
li {
  list-style: none;
  display: flex;
  padding: 10px;
  font-family: "Varta";
  font-style: normal;
  font-weight: 10;
  font-size: 15px;
  line-height: 25px;
  color: rgba(112, 100, 88, 0.7);
}

ul {
  display: flex;
}

.antic {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.antic h3 {
  color: #a06056;
  font-size: 34px;
  line-height: 25px;
}

.home {
  font-size: xx-small;
  color: #a06056;
}

.eleg {
  margin: 40px 0;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 70px;
  color: #a06056;
}

.wedo {
  font-family: "Varta";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 31px;
  color: rgba(112, 100, 88, 0.8);
}

.content-text {
  width: 50%;
  height: 100%;
  background: #F3EEE8;
}

.icon-holder {
  border: 2px solid #a06056;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-holder i {
  color: #a06056;
}

.content2 {
  margin: 60px 0;
}


/* ===mobile section== */

.nav-mobile {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  background: transparent;
  display: none;
  padding-top: 40px;
}

.nav-brand {
  display: flex;
  align-items: center;
  font-size: 35px;
  color: #ffff;
}

nav-brand span {
  /* font-weight: bolder; */
  margin-left: 10px;
}

.hamburger-container {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  z-index: 100;
}
/* ======= */
.menu {
  width: 100%;
  /* background: #ffff; */
  height: 3px;
  position: relative;
}

.menu::before {
  content: "";
  background: #ffff;
  width: 100%;
  height: 3px;
  position: absolute;
  transform: translateY(-0px);
}
.menu::after {
  content: "";
  background: #ffff;
  width: 100%;
  height: 3px;
  position: absolute;
  transform: translateY(10px);
}

.showburger .menu {
  background: transparent;
}

.showburger .menu::before {
  transform: rotate(45deg);
  background: #ffff;
}

.showburger .menu::after {
  transform: rotate(-45deg);
  background: #ffff;
}
/* ======== */

.mobile-links-container {
  transition: all 0.4s ease;
  transform: translateX(102%);
  width: 100%;
  height: 40%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  margin-top: 70px;
}

.showmobilelink {
  transform: translateX(0);
  /* display: block; */
}

.mobile-links-content ul {
  list-style: none;
  /* display: flex;
  flex-direction: column; */
  /* align-items: center; */
}


.mobile-links-content a {
  display: block;
  text-decoration: none;
  color: #ffff;
  padding: 20px 10px;
  /* font-size: 16px; */
}
.mobile-links-content a:hover {
  background: #534B42;
  color: #ffff;
}

.mobile-links-content .active-link {
  background: transparent;
  color: white;
}

/* ======== */


/* === Section one ends here== */

/* === Section one right starts here== */

.content-img {
  width: 50%;
  background: url(./img/header.png);
  background-repeat: no-repeat;
  display: flex;
}

.ichol {
  width: 34px;
  height: 34px;
  color: #ffff;
  border: 2px solid #ffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.move-abeg{
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: flex-end;

}

.ichol i {
  transform: rotateY(180deg);
}

/* .link-hol{
  display: flex;
  justify-content: space-between;
} */


/* === Section one right ends here== */


/* <!-- section two starts here --> */

.parent2{
    background: hwb(33 91% 5%);
    display: flex;
}

.left-content {
  width: 50%;
  padding: 30px;
  padding-top: 45px;
}

.cont-hold {
    width: 70%;
    align-items: center;
    margin: 0 auto;
}

.cont {
  font-family: merriweather;
  color: #706458;
  font-size: 55px;
  line-height: 60px;
}

.link-hold {
  color: #a06056;
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 30;
  font-size: 15px;
  align-items: center;
  display: flex;
  margin-top: 40px;
}

.link-hold i{
    padding-left: 5px;
}

/* section two right starts here */

.cont-holder{
  /* display: flex; */
  padding: 40px 0;
}

.onecon{
  display: flex;
}

.twocon{
  display: flex;
}

.con{
  padding: 10px 22px;
}
.con h6{
  color: #a06056;
  font-family: 'Varta';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: -0.2px;
  padding-bottom: 10px;
}

.con-text{
  color: rgba(112, 100, 88, 0.9);
  font-family: 'Varta';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
}

/* section two right ends here */

/* <!-- section two ends here --> */


/* <!-- section three starts here --> */

.footer{
  display: flex;
}

.holdet{
  width: 50%;
  padding: 30px;
}

.holds{
  margin: 0 auto;
  width: 70%;
  /* border: 3px solid #a06056; */
}

.link-holds {
  color: #a06056;
  font-family: "Merriweather";
  font-style: normal;
  font-size: 15px;
  align-items: center;
  display: flex;
}

.intruction{
  font-family: 'Merriweather';
  font-style: normal;
  font-size: 35px;
  line-height: 40px;
  color: #121212;
  order: 0;
}

.inform{
  font-family: 'Varta';
  color: rgba(112, 100, 88, 0.9);
  order: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
}

/* cta section starts here */

.cta-form {
  display: flex;
  justify-content: center;
}

.cta-form button {
  padding: 15px 20px;
  background: #a06056;
  color: #F3EEE8;
  border: 2px solid transparent;
}

.cta-form input {
  padding: 15px 10px;
  width: 250px;
  outline: none;
  transition: all 0.9s ease;
  background: rgba(243, 238, 232, 0.5);
  text-align: center;
  border: 1px;
}

.cta-form input:hover {
  width: 300px;
}

.okay{
  margin: auto auto;
}


/* cta section ends here */
/* <!-- section three ends here --> */


footer {
  margin-top: 20PX;
  align-items: center;
  padding: 10px 0;
  justify-content: space-evenly;
  display: flex;
  color: #F3EEE8;
  background: #a06056;
}

footer p{
  font-size: 20px;
  font-family: sans-serif;
  font-family: 'Merriweather';
}

.footer-icon-container {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
}

.footer-icons {
  border: 2px solid #F3EEE8;
  align-items: center;
  height: 40px;
  font-size: 18px;
  justify-content: center;
  display: flex;
  width: 40px;
  border-radius: 50%;
}

.footer-icons:hover {
  border: 2px solid #a06056;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 25px;
  transition: all 0.9s ease;
}

.footer-icon-container a {
  text-decoration: none;
  color: #F3EEE8;
}
/* <!-- Footer section ends here --> */
